#keyboard {
    position: absolute;
    z-index: 10000;
    background: white;
    // bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
    pointer-events: auto;
    font-family: sans-serif;

    &.decimal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .keycap[data-keyname=clear] {
            grid-row: 2;
            grid-column: 4;
        }

        .keycap[data-keyname=bksp] {
            grid-row: 3;
            grid-column: 4;
        }

        .keycap[data-keyname=return] {
            width: auto;
            grid-row: ~"4/6";
            grid-column: 4;
        }

        .keycap[data-keyname="←"] {
            grid-column: ~"1 / 3";
            grid-row: 6;
        }

        .keycap[data-keyname="→"] {
            grid-column: ~"3 / 5";
            grid-row: 6;
        }

        .current-input {
            grid-column: ~"1 / 5";
            grid-row: 1;
            display: block;
        }

        .function-key {
            font-size: .8em;
        }
    }

    &[data-mode=Shift] .keycap.function-key[data-keyname=shift] {
        background-color: white;
    }

    &[data-mode=Capslocked] .keycap.function-key[data-keyname=capslock] {
        background-color: white;
    }

    .keyboard-row {
        display: flex;
        gap: 5px;
    }

    .keycap {
        min-height: 60px;
        min-width: 60px;
        border-radius: 5px;
        border: 1px solid;
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 2px 0 #3a3a3a;
        transition: box-shadow 0.1s linear, transform 0.1s linear;

        &:active {
            box-shadow: none;
            transform: translateY(2px);
            box-shadow: 0 0 0 #3a3a3a;

        }

        &[data-keyname=space],
        &[data-keyname=shift],
        &[data-keyname=capslock],
        &[data-keyname="#+="],
        &[data-keyname="123"] {
            flex: 1;
        }

        &[data-keyname=return] {
            width: 120px;
        }


        &.function-key {
            background-color: lightgray;
            font-size: 18px;
        }

        &.character-key {
            font-size: 25px
        }

        .alternate {
            font-size: .6em;
            color: gray;
        }

        .alternate.sliding-back, .current.sliding-back {
            transition: all .25s ease-in-out;
        }
    }

    &.slide-in {
        animation: slide-in .4s ease-in-out;
    }


}

@keyframes slide-in {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

.standard-keyboard-enter {
    transform: translateY(100%);
}

.standard-keyboard-enter-active {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.standard-keyboard-exit {
    transform: translateY(0);
}

.standard-keyboard-exit-active {
    transform: translateY(100%);
    transition: transform 500ms ease-in-out;
}

.decimal-keyboard-enter {
    transform: translateY(5%);
    opacity: 0;
}

:root {
    --decimal-keyboard-easing: cubic-bezier(0.76, 0, 0.24, 1);
    --decimal-keyboard-translate-y: 10px;
    --decimal-keyboard-transition-duration: 250ms;
}

.decimal-keyboard-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform var(--decimal-keyboard-transition-duration) var(--decimal-keyboard-easing),
                opacity var(--decimal-keyboard-transition-duration) var(--decimal-keyboard-easing);
}

.decimal-keyboard-exit {
    transform: translateY(0);
    opacity: 1;
}

.decimal-keyboard-exit-active {
    transform: translateY(var(--decimal-keyboard-translate-y));
    opacity: 0;
    transition: transform var(--decimal-keyboard-transition-duration) var(--decimal-keyboard-easing),
                    opacity var(--decimal-keyboard-transition-duration) var(--decimal-keyboard-easing);
}

.standard-keyboard-exit.fade {
    transform: translateY(0);
    opacity: 1;
}

.standard-keyboard-exit-active.fade {
    transform: translateY(var(--decimal-keyboard-translate-y));
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.__onscreen_keyboard_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}
